<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/design.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li onclick="location.href='/'">STUBBY</li>
                <li>Site</li>
                <li>Settings</li>
                <li>Dev Mode</li>
                <li>Hire a professional</li>
                <li>help</li>
                <li>upgrade</li>
            </ul>
        </nav>
        <section class="info-tape">
            <!-- <h2>Let’s make an impact together to stand with the people of Ukraine.
                Show Support</h2> -->
            <div>
                <p>Page: Home</p>
                <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop-on-hover"
                    style="width:20px;height:20px;">
                </lord-icon>
            </div>
            <div>
                <p>WEB </p>
                <!-- <p> APP</p> -->
            </div>
        </section>
    </header>



    <main>
        <aside id="side-bar">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times</a>
                <a href="#">Nav Elements</a>
                <a href="#">Elements</a>
                <button class="dropdown-btn">Buttons
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#" onclick="openNav()">Round Button</a>
                    
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                <a href="#">Footer</a>

            </div>
            <span style="font-size:50px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </aside>
        <section>

        </section>


    </main>



    <footer>

    </footer>



    <script src="/static/js/design.js"></script>
    <script src="JavaScript/jquery-3.6.0.js"></script>
</body>

</html>